body{
	font-family: 'Mina', sans-serif;
	color: #313E48;
	font-size: 25px;
	text-align: center;
}
h1{
	margin: 10px;
	font-size: 35px;
}
h2{
	margin: 0;
}
#game{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	height: 480px;
	background: linear-gradient(to bottom right, #3EDCBA, #7A669B);;
	border-radius: 10px;
	padding: 8px;
}
.container{
	display: flex;
	flex-direction: column;
	width: 480px;
	margin: auto;
}
.display{
	display: flex;
	justify-content: space-around;

}
.cardcontainer {
	position: relative;
	width: 100px;
	height: 100px;	
}
.card {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}
.card:hover {
	cursor: pointer;
}
#game .cardcontainer .card.block{
	cursor: default;
}
.rotate {
	transform: rotateY(180deg);
}
.card.correct{
	animation: rubberBand 0.85s;
}
.card.wrong{
	animation: wobble 0.85s;
}
.correct .back{
	background: #3DDCB9;
}
.wrong .back{
	background: #E84E4D;
}
#game.win{
	animation: rubberBand 1s;
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 5px;
	color: white;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.front {
	background: #313E48;
}

.back {
	transform: rotateY(180deg); 
	background: #37BEDE;
}


#messageWrapper{
  position: absolute;
  left: 50%;
  display: none;
  z-index: 1;
  text-align: center;
  transition: opacity 1s; 
  opacity: 0;
}
#message{
  position: relative;
  left: -50%;
  top: 275px;
  border-radius: 10px;
  background: #75dcc5;
  padding: 20px;
  box-shadow: 10px 10px 30px #333;
}
#close{
	position: absolute;
	right: 15px;
	top: -10px;
	cursor: pointer;
	font-size: 50px;
}


@keyframes wiggle {
	0%, 100% {
		transform: rotate(-5deg) rotateY(180deg);
	}
	50% {
		transform: rotate(5deg) rotateY(180deg);
	}
}

@keyframes jiggle {
	0%, 50%, 100% {
		transform: scale(1,1) rotateY(180deg);
	}
	25% {
		transform: scale(1.2,0.8) rotateY(180deg);
	}
	75% {
		transform: scale(0.8,1.2) rotateY(180deg);
	}
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
}

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) rotateY(180deg);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg) rotateY(180deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg) rotateY(180deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg) rotateY(180deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg) rotateY(180deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg) rotateY(180deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) rotateY(180deg);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
